/* *{
  padding: 0;
  margin: 0;
} */

body {
  background-color : #212121 !important;
  /* #292228#292228  */
   /* #332a32 */
  color: white !important;
  height: 100vh;
  width: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.wrapper {
  display : grid;
  grid-template-columns : 100%;
  grid-template-rows : repeat(10, 100%);
  font-family : "Trebuchet MS" !important;
  color: white !important;
  vertical-align: middle;
  scroll-snap-type: y mandatory;
  width : 100%;
  height: 100%;
}

.introduction {
  grid-column: 1;
  grid-row : 1;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.title {
  grid-column: 1/51;
  grid-row: 5/10;
}

.title-cluster {
  grid-column: 1/51;
  grid-row: 1/15;
}

.movie-reel {
  grid-column: 17/34;
  grid-row: 20/50;
}

.reel-img {
  text-align: center;
  width: 100%;
  height: auto;
}

.p-coord {
  grid-column: 1;
  grid-row : 2;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.p-coord {
  grid-column: 1;
  grid-row : 2;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.industry-snap {
  grid-column: 1;
  grid-row : 3;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.clustering {
  grid-column: 1;
  grid-row : 4;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.bubble-chart {
  grid-column: 3/30;
  grid-row: 5/45;
}

.user-radar {
  grid-column : 25/51;
  grid-row : 1/45;
}

.recommendation {
  grid-column: 1;
  grid-row : 5;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}


/* .axis--grid .domain {
    fill: #ddd;
    stroke: none;
  } */
