/* *{
  padding: 0;
  margin: 0;
} */

body {
  background-color : #212121 !important;
  /* #292228#292228  */
   /* #332a32 */
  color: white !important;
  height: 100vh;
  width: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.wrapper {
  display : grid;
  grid-template-columns : 100%;
  grid-template-rows : repeat(10, 100%);
  font-family : "Trebuchet MS" !important;
  color: white !important;
  vertical-align: middle;
  scroll-snap-type: y mandatory;
  width : 100%;
  height: 100%;
}

.introduction {
  grid-column: 1;
  grid-row : 1;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.title {
  grid-column: 1/51;
  grid-row: 5/10;
}

.title-cluster {
  grid-column: 1/51;
  grid-row: 1/15;
}

.title-industry {
  grid-column: 1/51;
  grid-row: 1/5;
}

.title-pcoord {
  grid-column:1/51;
  grid-row:1/5;
}

.movie-reel {
  grid-column: 17/34;
  grid-row: 20/50;
}

.reel-img {
  text-align: center;
  width: 100%;
  height: auto;
}

.p-coord {
  grid-column: 1;
  grid-row : 2;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.industry-snap {
  grid-column: 1;
  grid-row : 3;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.industry-bubbles {
  grid-column: 1/30;
  grid-row: 5/45;
  stroke: "white" !important;
  fill:"white" !important;
}

/* .bar-chart-label {
  grid-column:25/51;
  grid-row: 5;

} */

.bar-chart {
  grid-column: 25/48;
  grid-row: 5/45;
}

.axis line{
  stroke: white !important;
  opacity: 50%;
  /* fill:"white" !important; */
}

.axis path{
  stroke: white !important;
  opacity: 50%;
  /* fill:"white" !important; */
}

.axis text{
  stroke: white !important;
  /* fill:"white" !important; */
}

.industry-timeline {
  grid-column: 5/46;
  grid-row:43/48;
}

.clustering {
  grid-column: 1;
  grid-row : 4;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.bubble-chart {
  grid-column: 3/30;
  grid-row: 7/43;
}
.bubble-label {
  grid-column: 1/7;
  grid-row: 6;
}

.user-radar {
  grid-column : 25/51;
  grid-row : 8/45;
}

.recommendation {
  grid-column: 1;
  grid-row : 5;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.chord-chart {
  grid-column: 1/51;
  grid-row: 10/51;
}

.parallel-coord {
  grid-column: 1/51;
  grid-row: 8/40;
}

.title-season {
  grid-column: 1/12;
  grid-row: 42/49;
}

.title-rank {
  grid-column: 13/24;
  grid-row: 42/49;
}
.title-release {
  grid-column: 25/36;
  grid-row: 42/49;
}
.title-gross {
  grid-column: 37/48;
  grid-row: 42/49;
}

.title-movie {
  grid-column: 1/51;
  grid-row: 7;
}

/* .axis--grid .domain {
    fill: #ddd;
    stroke: none;
  } */
